<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 border border-dark rounded">
    <img src="<%=data[i].user.userIcon%>" class="d-flex justify-content-center">
    <h3 id="Artist" class=" d-flex justify-content-center" style="margin-bottom: 20px;">
        <%= data[i].user.username %></h3>
    <ul class="social-network social-circle d-flex justify-content-center">
        <li><a href="<%=data[i].profile %>" class="icoDeviant" title="DeviantArt"><i class="fa fa-deviantart"></i></a>
        </li>
    </ul>
    <div class="container" style="margin-top: 40px;">
        <div class="row" style="display: flex; align-items: flex-end;">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <img class="img-fluid rounded float-left img-thumbnail border-warning" src="<%=data[i].image %>"
                    alt="Drawing example" id="myImg">

            </div>

        </div>
    </div>
</div>

<div class="col-lg-2 col-md-2"/>

<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 border border-dark rounded">
    <img src="<%=data[i++].user.userIcon%>" class="d-flex justify-content-center">
    <h3 id="Artist" class=" d-flex justify-content-center" style="margin-bottom: 20px;">
        <%= data[i++].user.username %></h3>
    <ul class="social-network social-circle d-flex justify-content-center">
        <li><a href="<%=data[i++].profile %>" class="icoDeviant" title="DeviantArt"><i class="fa fa-deviantart"></i></a>
        </li>
    </ul>
    <div class="container" style="margin-top: 40px;">
        <div class="row" style="display: flex; align-items: flex-end;">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <img class="img-fluid rounded float-left img-thumbnail border-warning" src="<%=data[i++].image %>"
                    alt="Drawing example" id="myImg">

            </div>

        </div>
    </div>
</div>
