<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>

    <body class = "profile-page" style="height: fit-content !important;background-color: #e0782e !important;">
        <header>
            <%- include('../partials/header2') %>
        </header>
    <div class="main main-raised">
		<div class="profile-content">
            <div class="container">
                <div class="row">
	                <div class="col-md-6 ml-auto mr-auto">
        	           <div class="profile">
	                        <div class="avatar">
	                            <img src="Images/bannerAndLogo/large.png" alt="Profile Picture" class="img-raised rounded-circle img-fluid" style="background-color: #f4d74b;">
	                        </div>
	                        <div class="name">
	                            <h3 class="title"><%= user.name %></h3>
                                <h6><%= user.login.username %></h6>
                                <div class="description text-center">
                                    <p><%= user.email %></p>
                                </div>
	                        </div>
	                    </div>
    	            </div>
                </div>
				<div class="row">
					<div class="col-md-6 ml-auto mr-auto">
                        <div class="profile-tabs">
                          <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                                  <i class="material-icons">favourite</i>
                                    Favourite
                                </a>
                            </li>
                          </ul>
                        </div>
    	    	</div>
            </div>
            <div class="tab-pane text-center gallery" id="favorite">
      			<div class="row">
      				<div class="col-md-3 ml-auto">
      				</div>
      				<div class="col-md-3 mr-auto">
      			    </div>
      			</div>
      		</div>
          </div>

        
            </div>
        </div>
    </div>
    <footer class="footer" style="position:fixed;">
        <%- include('../partials/footer') %>
    </footer>
    </body>
</html>