<!-- Profie Page for the logged in user -->
<!-- Created by Exposure Team
---- Version 1/05/2020--->
<!DOCTYPE html>
<html>
<!--Head-->

<head>
    <!--Import Head Template-->
    <%- include('../partials/head') %>
</head>
<!--Body-->

<body class="profile-page" style="background-color: #e0782e !important;">
    <!-- Header -->
    <header>
        <!--Import Header Template-->
        <%- include('../partials/header2') %>
    </header>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                            <div class="avatar">
                                <img src="Images/bannerAndLogo/large.png" alt="Profile Picture"
                                    class="img-raised rounded-circle img-fluid" style="background-color: #f4d74b;">
                            </div>
                            <div class="name">
                                <h3 class="title"><%= user.name %></h3>
                                <h6><%= user.login.username %></h6>
                                <div class="description text-center">
                                    <p><%= user.email %></p>
                                </div>
                                <div class="description text-center">
                                    <p><a href="/delete" style="color: #e0782e;">Delete Account</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile-tabs">
                            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <!-- When this button is going to be pressed it is going to show favorite id div -->
                                    <a class="nav-link" href="#" onclick=showFavorites() role="tab" data-toggle="tab"
                                        id="favorite">
                                        <i class="material-icons">favourite</i>
                                        Favourite
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="tab-pane text-center gallery">
                    <div class="row border border-dark" id="show" style="display:none;background-color: #e0782e;">
                        <!--Shows your favorite images if you have added any-->
                        <% if (user.favorite != [null]) { %>
                        <% user.favorite.forEach(function(entry) {%>
                        <div class="col-md-4" style="margin: auto;">
                            <a href="<%=entry.profile%>"><img class="rounded" src="<%=entry.image%>"
                                    style="margin-top: 10px;"></a>
                        </div>
                        <% }); %>
                        <% } %>
                    </div>
                </div>
            </div>


        </div>
    </div>
    </div>
</body>

</html>

<!------------------------------------------------------------Profile Page End------------------------------------------>