<!-- Main Page for the logged in user -->

<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <!-- Header -->
    <header>
        <%-include('../partials/header2') %>
    </header>

    <!--Carousel Start-->
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000"
        style="margin-bottom: 70px;">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <a href="#">

                    <picture>
                        <source srcset="Images/bannerAndLogo/1.png" media="(min-width: 1400px)">
                        <source srcset="Images/bannerAndLogo/1.1.png" media="(min-width: 769px)">
                        <source srcset="Images/bannerAndLogo/1.2.png" media="(min-width: 577px)">
                        <img srcset="Images/bannerAndLogo/1.3.png" alt="responsive image" class="d-block img-fluid">
                    </picture>

                    <div class="carousel-caption">
                        <div>
                            <h2>Look for artist</h2>
                            <p>Easily find the one who will do your work</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- /.carousel-item -->
            <div class="carousel-item">
                <a href="#">
                    <picture>
                        <source srcset="Images/bannerAndLogo/2.png" media="(min-width: 1400px)">
                        <source srcset="Images/bannerAndLogo/2.1.png" media="(min-width: 769px)">
                        <source srcset="Images/bannerAndLogo/2.2.png" media="(min-width: 577px)">
                        <img srcset="Images/bannerAndLogo/2.3.png" alt="responsive image" class="d-block img-fluid">
                    </picture>

                    <div class="carousel-caption justify-content-center align-items-center">
                        <div>
                            <h2>See examples of their work</h2>
                            <p>Find the style you need</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- /.carousel-item -->
            <div class="carousel-item">
                <a href="#">
                    <picture>
                        <source srcset="Images/bannerAndLogo/3.png" media="(min-width: 1400px)">
                        <source srcset="Images/bannerAndLogo/3.1.png" media="(min-width: 769px)">
                        <source srcset="Images/bannerAndLogo/3.2.png" media="(min-width: 577px)">
                        <img srcset="Images/bannerAndLogo/3.3.png" alt="responsive image" class="d-block img-fluid">
                    </picture>

                    <div class="carousel-caption justify-content-center align-items-center">
                        <div>
                            <h2>Contact them</h2>
                            <p>Get in touch to offer them your work</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- /.carousel-item -->
        </div>
        <!-- /.carousel-inner -->
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- /.carousel -->

    <!---Search Button-->
    <div class="container">
        <div class="container h-100">

            <form action="/results" method="POST" id="search">
                <input id="searchInput" name="searchBar">
                <i class="fa fa-search" id="fa"></i>
            </form>
        </div>
    </div>

    <!--Search Button End-->

    <!-- Results -->
    <!-- <div id="resultsOverview"></div>
    <div id="loadBox"></div>
    <div id="searchResultsBox"></div> -->
    <div class="container">
        <div class="row peach-gradient" style="display: flex; align-items: flex-start;" id="mainResults">

            <%-include('../partials/resultBox') %>

            <div id = "more" style = "display: none;">

                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 border border-dark rounded" style="margin: auto; margin-top: 20px;" id = "result">
                    <img src="<%=data[4].user.userIcon%>" class="d-flex justify-content-center img-raised rounded-circle" style="margin: auto;width: 100px;">
                    <h3 id="Artist" class=" d-flex justify-content-center" style="margin-bottom: 10px; font-size: 40px;">
                        <%= data[4].user.username %></h3>
                    <ul class="social-network social-circle d-flex justify-content-center">
                        <li><a href="<%=data[4].profile %>" class="icoDeviant" title="DeviantArt"><i class="fa fa-deviantart"></i></a>
                        </li>
                    </ul>
                    <div class="container" style="margin-top: 40px;">
                        <div class="row" style="display: flex; align-items: flex-end;">
                
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <img class="img-fluid rounded mx-auto d-block img-thumbnail border-warning" src="<%=data[4].image %>"
                                    alt="Drawing example" id="myImg">
                
                            </div>
                
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 border border-dark rounded" style="margin: auto; margin-top: 20px;" id = "result">
                    <img src="<%=data[5].user.userIcon%>" class="d-flex justify-content-center img-raised rounded-circle" style="margin: auto; width: 100px;">
                    <h3 id="Artist" class=" d-flex justify-content-center" style="margin-bottom: 10px; font-size: 40px;">
                        <%= data[5].user.username %></h3>
                    <ul class="social-network social-circle d-flex justify-content-center">
                        <li><a href="<%=data[5].profile %>" class="icoDeviant" title="DeviantArt"><i class="fa fa-deviantart"></i></a>
                        </li>
                    </ul>
                    <div class="container" style="margin-top: 40px;">
                        <div class="row" style="display: flex; align-items: flex-end;">
                
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <img class="img-fluid rounded mx-auto d-block img-thumbnail border-warning" src="<%=data[5].image %>"
                                    alt="Drawing example" id="myImg">
                
                            </div>
                
                        </div>
                    </div>
                </div>


                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 border border-dark rounded" style="margin: auto; margin-top: 20px;" id = "result">
                    <img src="<%=data[6].user.userIcon%>" class="d-flex justify-content-center img-raised rounded-circle" style="margin: auto; width: 100px;">
                    <h3 id="Artist" class=" d-flex justify-content-center" style="margin-bottom: 10px; font-size: 40px;">
                        <%= data[6].user.username %></h3>
                    <ul class="social-network social-circle d-flex justify-content-center">
                        <li><a href="<%=data[6].profile %>" class="icoDeviant" title="DeviantArt"><i class="fa fa-deviantart"></i></a>
                        </li>
                    </ul>
                    <div class="container" style="margin-top: 40px;">
                        <div class="row" style="display: flex; align-items: flex-end;">
                
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <img class="img-fluid rounded mx-auto d-block img-thumbnail border-warning" src="<%=data[6].image %>"
                                    alt="Drawing example" id="myImg">
                
                            </div>
                
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 border border-dark rounded" style="margin: auto; margin-top: 20px;" id = "result">
                    <img src="<%=data[7].user.userIcon%>" class="d-flex justify-content-center img-raised rounded-circle" style="margin: auto; width: 100px;">
                    <h3 id="Artist" class=" d-flex justify-content-center" style="margin-bottom: 10px; font-size: 40px;">
                        <%= data[7].user.username %></h3>
                    <ul class="social-network social-circle d-flex justify-content-center">
                        <li><a href="<%=data[7].profile %>" class="icoDeviant" title="DeviantArt"><i class="fa fa-deviantart"></i></a>
                        </li>
                    </ul>
                    <div class="container" style="margin-top: 40px;">
                        <div class="row" style="display: flex; align-items: flex-end;">
                
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <img class="img-fluid rounded mx-auto d-block img-thumbnail border-warning" src="<%=data[7].image %>"
                                    alt="Drawing example" id="myImg">
                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p style="text-align: -webkit-center;" id="showMoreButton">
        <button onclick=showMore() id="signInButton" type="button" class="btn btn-round-lg btn-lg">Show More</button>
    </p>


</body>

</html>