<!-- Profie Page for the artist -->
<!-- Created by Exposure Team
---- Version 1/05/2020--->
<!DOCTYPE html>
<html>
<!--Head-->

<head>
    <!--Import Head EJS Template-->
    <%- include('../partials/head') %>
</head>
<!--Body-->

<body class="profile-page" style="background-color: #e0782e !important; height: auto;">
    <!-- Header -->
    <header>
        <!--Import Header2 EJS Template-->
        <%- include('../partials/header2') %>
    </header>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                            <div class="avatar">
                                <img src="<%=icon%>" alt="Profile Picture" class="img-raised rounded-circle img-fluid"
                                    style="background-color: #f4d74b;">
                            </div>
                            <div class="name">
                                <h3 class="title"><%= username %></h3>
                                <h6><%=tagline%></h6>
                                <div class="description text-center">
                                    <p><%=country%></p>
                                </div>
                                <ul class="social-network social-circle d-flex justify-content-center">
                                    <li><a href="<%=link%>" class="icoDeviant" title="DeviantArt"><i
                                                class="fa fa-deviantart"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Artist Best drawings Gallery-->
                <div class="tab-pane text-center gallery">
                    <div class="row">
                        <!-- For Two -->
                        <div class="col-md-3 ml-auto">
                            <img src="<%=featured[0]%>" class="rounded">
                            <img src="<%=featured[1]%>" class="rounded">
                        </div>
                        <div class="col-md-3 mr-auto">
                            <img src="<%=featured[2]%>" class="rounded">
                            <img src="<%=featured[3]%>" class="rounded">
                            <img src="<%=featured[4]%>" class="rounded">
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    </div>

    <!-- Footer -->
    <footer class="footer" style="position:relative;">
        <!--Import Footer EJS Template-->
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>
<!------------------------------------------------------userProfile Page End------------------------------------------------->